<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:context="http://www.springframework.org/schema/context"
    xmlns:aop="http://www.springframework.org/schema/aop" 
    xmlns:security="http://www.springframework.org/schema/security"
    xsi:schemaLocation="http://www.springframework.org/schema/beans
        https://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context 
        https://www.springframework.org/schema/context/spring-context.xsd
        http://www.springframework.org/schema/aop 
        http://www.springframework.org/schema/aop/spring-aop.xsd
        http://www.springframework.org/schema/security
        https://www.springframework.org/schema/security/spring-security.xsd">
              
    <aop:aspectj-autoproxy/>
    <security:global-method-security>
        <security:protect-pointcut expression="ROLE_USER" access="execution(* *.*..*(..))" />
    </security:global-method-security>

    <bean id="calcBeanId" class="org.example.impl.CalculatorImpl"/>

    <!-- aspect registered -->
    <bean id="mainAdviceBeanId" class="org.example.advice.MainAdviceAnno"/>

    <bean id="calcBeforeId" class="org.example.advice.CalcBeforeAdvice"/>

    <!-- intro aspect registered -->
    <!-- <bean id="introAspectBeanId" class="org.example.introduction.CalculatorAspect"/> -->

    <aop:config>
        <aop:aspect id="aspect1" ref="calcBeforeId">
            <!-- <aop:pointcut id="pointCutBefore" expression="execution((* org.example.impl..add(..)) || (* org.example.impl..sub(..)))" /> -->
            <aop:pointcut id="pointCutBefore" expression="execution(* org.example.impl..*(..))" />
            <aop:before method="beforeMethod" pointcut-ref="pointCutBefore" />
        </aop:aspect>
    </aop:config>

</beans>